/* Main defaults */

/* Global colors */
:root {
    --main-dark: #333;
    --main-light: rgb(247, 247, 247);
    --main-blue: rgb(27, 152, 255);
    --main-red: rgb(230, 43, 43);
    --main-orange: rgb(240, 143, 78);
    --main-yellow: rgb(207, 209, 98);
    --main-green: rgb(63, 228, 71);
}

/* Default spacing */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Font defaults mostly */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    background-color: var(--main-light);
    color: var(--main-dark);
}

/* Header styling */

header {
    padding: .6em;
    text-align: center;
    background-color: var(--main-dark);
    color: var(--main-light)
}

/* Container layout */

.container {
    display: flex;
    flex-direction: row;
}

/* Search box area styling */

.search-form {
    margin: .5em auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.cities-search {
    margin: 1em .5em;
    padding-left: .5em;
    font-size: 30px;
    width: 20%;
}

.search-input {
    width: 90%;
    padding: .75em 3em;
    padding-left: 1em;
    background-color: var(--main-light);
    color: var(--main-dark);
    border-radius: 8px;
    outline: none;
    border: 2px solid var(--main-dark);
}

.search-button {
    margin: 0 .2em;
    padding: .5em;
    border-radius: 5px;
    border: none;
    background-color: var(--main-blue);
}

.fas {
    color: var(--main-light);
}

ul hr {
    margin: 1em auto;
    border: 1px solid var(--main-dark);
}

li {
    list-style: none;
    cursor: pointer;
}

/* Forecast Section */

.forecast-section {
    width: 80%;
    margin: 1em;
    padding: 1em 2em;
    margin-bottom: 0;
}

.current-weather {
    width: 100%;
    padding: 1em 1em;
    border: 2px solid var(--main-dark);
    border-radius: 10px;
}

.current-weather p {
    margin: 1em auto;
}

.current-icon {
    margin-left: 1em;
    background-color: var(--main-blue);
    border-radius: 15px;
}

.title-container {
    margin: 1em 0;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.uv-span {
    padding: .2em .4em;
    border-radius: 5px;
    color: var(--main-dark);
}

/* Five day forecast styling */

.five-day-title {
    margin: .6em auto;
}

.five-day-boxes {
    display: flex;
    flex-direction: row;
}

.five-day-box {
    width: 100%;
    padding: 1em;
    margin: 0 1em;
    width: 225px;
    border-radius: 15px;
    color: var(--main-light);
    background-color: var(--main-blue);
}

.five-day-box p {
    margin: .3em auto;
}